# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

#SQLite
.sqlite
*.sqlite

.DS_Store

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
backend/src/database/db.sqlite
frontend/yarn.lock
backend/src/database/db.sqlite
backend/src/database/db.sqlite
